body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88A8D0;
}

#timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}